.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(138, 140, 236, 0.2);
  border-bottom: 1px solid rgba(248, 250, 252, 0.1);
  backdrop-filter: blur(5px);
  padding: 1rem 0;
  max-width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 40px;
}

.conteudo-cabecalho {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Sora', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1d037a;
  text-decoration: none;
}


.acoes-cabecalho {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header .btn-primary {
  border-radius: 50px;
}

.btn-entrar {
  color: #F8FAFC;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.btn-entrar:hover {
  background-color: rgba(248, 250, 252, 0.1);
}

.link-nav {
  color: #1d037a;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.link-nav:hover {
  background-color: rgba(29, 3, 122, 0.1);
}

.acoes-cabecalho {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}